# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
myvenv/
.env

# Alembic cache
.alembic/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Build files
dist/
build/

# Firefox extension temp/debug
web-ext-artifacts/

# Node (if added later)
node_modules/

# Uploaded local files
uploads/
